
.client-restriction-modal-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 8px;
  padding: 16px;
  background-color: var(--mui-palette-common-background);
  border-radius: 4px;
}

.client-restriction-modal {
  top: 25%;
  margin: auto;
}
