
.header-container {
  display: flex;
  min-height: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}
