ROUTER_TYPE=simulated
ROUTER_URL=http://none
ROUTER_ADMIN_USER=admin
ROUTER_ADMIN_PASS=admin
AGENT_ID=
AGENT_SECRET=
COORDINATOR_URL=http://127.0.0.1:3000/api
WIFI_CLIENTS_REPORT_INTERVAL=30
CLIENT_RESTRICTION_INTERVAL=30
