
.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100vh;

  > .bottom {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;

    .right {
      display: flex;
      flex: 1;
      overflow: auto;
      
      .content {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }
}
